.home_cont {
    width: 100%;
}
.home_main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bff5dd;
    background-color: #f3a4d4;  
    background-color: #91b4e6;
    background-color: #eedda9;
}
.home_main_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background-color: #23de93;
    background-color: #f72ca6;
    background-color: #1f78f6;
    background-color: #ebb618;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.291);
}
.home_main_left > img {
    width: 500px;
}
.animate_img {
    animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd {
    0% {
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
              transform: translateZ(0);
      opacity: 1;
    }
  }

.home_main_right {
    max-width: 600px;
}
.home_main_right h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}
.home_main_right h1 span {
    color: #23de93;
    color: #f72ba6;
    color: #1f78f6;
    color: #ebb618;
    -webkit-text-stroke: 0.5px black;
}
.home_main_right h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}
.home_main_right p {
    font-size: 20px;
}

.step1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #021238;
    padding: 40px 0;
}
.step1_left {
    max-width: 700px;
}
.step1_left h1 {
    font-size: 50px;
    color: #23de93;
}
.step1_left p {
    font-size: 20px;
    color: white;
}
.step1_right img {
    width: 500px;
}
.step2_right h1 {
    color: #f72ca6;
}
.step3_left h1 {
    color: #ebb618;
}
.step4_right h1 {
    color: #f90404;
}
.step5_left h1 {
    color: #04e0f9;
}
.getstarted {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021238;
    padding: 50px 0;
}
.getstarted button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid #f72ba6;
    font-size: 20px;
    color: #f72ba6;
    cursor: pointer;
    transition: 0.7s all;
}
.getstarted button:hover {
    background-color: #f72ba6;
    color: #021238;

}
.footer {
    width: 100%;
    background-color: #021238;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer > div {
    width: 90%;
    height: 2px;
    background-color: #fff;
}
.footer p {
    font-size: 15px;
    color: white;
}
.home_cont h1 {
    font-family: 'Roboto', sans-serif;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nav img {
    width: 150px;
    margin-left: 40px;
}
.nav button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    
    background-color: #f72ba6;
    border: 2px solid #f72ba6;
    font-size: 20px;
    
    color: #021238;
    cursor: pointer;
    transition: 0.7s all;
    margin-right: 40px;
}
.nav button:hover {
    background-color: transparent;
    color: #f72ba6;

}

@media screen and (max-width: 600px) {

    .home_main {
        justify-content: end;
    }
    .home_main_left {
        position: absolute;
        top: 50px;
        left: -300px;
    }
    .home_main_left > img {
        width: 500px;
    }
    
    .home_main_right {
        max-width: 250px;
        height: 100vh;
        z-index: 10;
        background-color: #0000007c;
        backdrop-filter: blur(10px);
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home_main_right h1{
        font-size: 30px;
        color: whitesmoke;
        
    }
    .home_main_right h2 {
        font-size: 15px;
        color: whitesmoke;
    }
    .home_main_right p {
        font-size: 10px;
        color: whitesmoke;
    }
    
    .step1 {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .step1_left {
        max-width: 90%;
    }
    .step1_left h1 {
        font-size: 30px;
        color: #23de93;
    }
    .step1_left p {
        font-size: 20px;
        color: white;
    }
    .step1_right img {
        width: 90%;
    }
    .step2_right h1 {
        color: #f72ca6;
    }
    .step3_left h1 {
        color: #ebb618;
    }
    .step4_right h1 {
        color: #f90404;
    }
    .step5_left h1 {
        color: #04e0f9;
    }
    .step2,.step4 {
        flex-direction: column-reverse;
    }
    .nav {
        z-index: 20;
        /* background-color: #fff; */
    }
    
    .nav img {
        width: 130px;
        margin-left: 10px;
    }
    .nav button {
        width: 150px;
        height: 30px;
        margin-right: 10px;
    }
}